<ion-header>
</ion-header>
<ion-content>
  <ion-card class="welcome-card" text-center>
    <ion-card-header>
      <ion-img alt="logo"  src="assets/icon/logo.png" ></ion-img>
      <ion-card-subtitle text-center><h1><b>Welcome to <br> XpSerV</b></h1>
      <p>ALL - IN - ONE APP</p>
      <img alt="logo"  src="assets/icon/splashscreen_2.png">
    </ion-card-subtitle>
      
      <ion-card-title>
        <ion-col>
          <ion-button shape="round"  expand="full" color="tertiary" (click)="goregister()">Get Started</ion-button>
        </ion-col>
        <ion-col>
      <p class="go-to-login">Already have an account? <a (click)="gologin()">Log In.</a></p>
        </ion-col>   
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
