welcome-card{
    		margin-left: auto;
    		margin-right: auto;
    		display: block;
		}
        ion-img {
			object-fit: resize;
			height: 100%;
			width: 25%;
            margin: auto;
            display: block;
			background-color: white;
		}
		img{
			object-fit: resize;
			height: 100%;
			width: 60%;
            margin: auto;
            display: block;
			background-color: white;
		}
